<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>04_综合</title>
</head>
<body>

<!--
  综合使用以下技术:
  1. 页面指令:
    v-model
    @click
    @keyup.enter
    v-for / $index
    v-text
  2. Vue对象
    初始化数据: data
    事件处理函数: methods
-->
<div id="app">
  <input type="text" v-model="msg">
  <ul>
    <li v-for="todo in todos">
      {{todo}}
    <button @click="delT($index)">X</button>
    </li>
  </ul>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  new Vue({
    el: '#app',
    data: {
      newtodo: '',
      todos: [
        'a',
        'b',
        'c'
      ]

    },
    methods: {
    delT(index){
      this.

    }
  }
  })
</script>
</body>
</html>